.rowcard{

  margin-top: 15px;

}

.card {

max-width: 80rem;
max-height: 80rem;
height: 94%;	
}

.iconos{
height: 32px;
width:  32px;
}


#cardbuscar{

background-color: rgba(0, 0, 0, .85);

}

#cardproceso{

background-color: rgba(0, 0, 0, .85);
}