.carousel-inner{
       //height: 200px;
       border-radius: 7px 7px 7px 7px;
    }
.carousel-item img {

   	height: 200px;
   }

.carousel-item .img-fluid {
  width:100%;
  height:100%;
}

#carouselExampleIndicators{
margin-top: 15px;

}
 
