.copysvg{
 	width: 18px;
	height: 18px;
    transition-duration: 0.2s;
    fill: #212529;
}
.copysvg:hover {
	cursor: pointer;
	width: 20px;
	height: 20px;
	fill:  #c33230;
}

.copysvg:active{
 	width: 18px;
	height: 18px;
    transition-duration: 0.4s;
    fill: #212529;
}
.copysvg:hover .tooltiptext{
visibility: visible;
}

.tooltiptext{
visibility: hidden;
}

