
.manImg:hover{

cursor: pointer;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.manImg:active{

background-color: yellow;

}

.manImg{

	width: 18px;
	height: 18px;

}